@CHARSET "ISO-8859-1";
.container{
	
    border: black;
    border-style: groove;
    background-color: #ececec;
    width:200px;
    height: auto;
    
}

input[type=text], input[type=password] {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
}
